{% extends "base.html" %} {% block content %}
<div class="jumbotron">
  <h1 class="display-4">Help Desk Ticketing System</h1>
  <p class="lead">A simple and efficient way to manage IT support requests.</p>
  <hr class="my-4" />
  <p>Login or register to get started.</p>
  <a
    class="btn btn-primary btn-lg"
    href="{{ url_for('main.login') }}"
    role="button"
    >Login</a
  >
  <a
    class="btn btn-secondary btn-lg"
    href="{{ url_for('main.register') }}"
    role="button"
    >Register</a
  >
</div>
{% endblock %}
