<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- DataTables CSS -->
    <link
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
      rel="stylesheet"
    />

    <link
      href="{{ url_for('static', filename='styles.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <title>Help Desk</title>
  </head>
  <body class="light-mode">
    <!-- Default to light mode -->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">
        <img
          src="{{ url_for('static', filename='logo.png') }}"
          alt="Help Desk Logo"
          style="height: 40px"
        />
        {% if current_user.is_authenticated %}
        <div class="role-container">
          <span class="badge badge-role-{{ current_user.role}}"
            >{{ current_user.role.capitalize() }}</span
          >
          <span class="user-info">Signed in as: {{ current_user.name }}</span>
        </div>
        {% endif %}
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link logout-badge" href="{{ url_for('main.logout') }}"
              >Logout</a
            >
          </li>
          {% endif %}
          <li class="nav-item">
            <button id="theme-toggle-button" class="btn btn-link nav-link">
              <i id="theme-toggle-icon" class="fas fa-sun"></i>
            </button>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">{% block content %} {% endblock %}</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script src="{{ url_for('static', filename='theme-toggle.js') }}"></script>

    <!-- Initialize DataTables on specific tables -->
    <script>
      $(document).ready(function () {
        $("#tickets-table").DataTable({
          paging: true, // Enable pagination
          ordering: true, // Enable column ordering
          info: true, // Show information about the table
          searching: true, // Enable search functionality
          lengthMenu: [5, 10, 25, 50, 100], // Options for the number of entries to display per page
          pageLength: 5, // Set the default number of entries to display to 5
        });
      });
    </script>

    <!-- Include Flask-Moment JavaScript -->
    {{ moment.include_moment() }}
  </body>
</html>
