<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help Desk Ticketing System</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">Help Desk</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.dashboard') }}"
              >Dashboard</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.register') }}"
              >Register</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-warning" role="alert">
        {% for message in messages %} {{ message }} {% endfor %}
      </div>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
