{% extends "base.html" %} {% block content %}
<h2>Register</h2>

<!-- Include a section to display flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<div class="flashes">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<form method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required />
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" required />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      required
    />
  </div>

  <div class="form-group">
    <label for="role">Role</label>
    <select class="form-control" id="role" name="role" required>
      <option value="admin">Admin</option>
      <option value="support">Support</option>
      <option value="regular">Regular</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}
